In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
import time
import pandas as pd

In [2]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "/Users/reena/Downloads/chromedriver"}
    return Browser("chrome", **executable_path, headless=True)

In [ ]:
#Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [3]:
browser = init_browser()
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
time.sleep(1)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
news_title = soup.find('div', class_='content_title').get_text()
news_p = soup.find('div', class_='article_teaser_body').get_text()
print(news_title)
print(news_p)

Robotic Toolkit Added to NASA's Mars 2020 Rover
The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover.

In [121]:
### JPL Mars Space Images - Featured Image

In [6]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
time.sleep(1)
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
image = soup.find('div', class_='carousel_items').find('article')['style']
image

"background-image: url('/spaceimages/images/wallpaper/PIA00029-1920x1200.jpg');"

In [8]:
image_url = image.split("'")[1]
image_url

'/spaceimages/images/wallpaper/PIA00029-1920x1200.jpg'

In [9]:
url_base = "https://www.jpl.nasa.gov"
featured_image_url = url_base + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA00029-1920x1200.jpg'

In [ ]:
### Mars Facts

In [14]:
url = "https://space-facts.com/mars/"

In [15]:
tables = pd.read_html(url)

In [16]:
len(tables)

2

In [17]:
df1 = tables[0]
df1

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [18]:
df2 = tables[1]
df2

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
df2.columns = ["Parameter", "Values"]
df2.head()

              Parameter                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [24]:
table = df2.to_dict('records')
table

[{'Parameter': 'Equatorial Diameter:', 'Values': '6,792 km'},
 {'Parameter': 'Polar Diameter:', 'Values': '6,752 km'},
 {'Parameter': 'Mass:', 'Values': '6.39 × 10^23 kg (0.11 Earths)'},
 {'Parameter': 'Moons:', 'Values': '2 (Phobos & Deimos)'},
 {'Parameter': 'Orbit Distance:', 'Values': '227,943,824 km (1.38 AU)'},
 {'Parameter': 'Orbit Period:', 'Values': '687 days (1.9 years)'},
 {'Parameter': 'Surface Temperature:', 'Values': '-87 to -5 °C'},
 {'Parameter': 'First Record:', 'Values': '2nd millennium BC'},
 {'Parameter': 'Recorded By:', 'Values': 'Egyptian astronomers'}]

In [ ]:
### Mars Hemispheres

In [10]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
url_base = "https://astrogeology.usgs.gov"

browser.visit(url)
time.sleep(1)
html = browser.html
soup = bs(html, 'html.parser')

In [11]:
result = soup.find_all('div', class_="item")
url_list = []


for y in result:
    link = y.find('a')['href']
    url_list.append(link)

In [12]:
print(url_list)

['/search/map/Mars/Viking/cerberus_enhanced', '/search/map/Mars/Viking/schiaparelli_enhanced', '/search/map/Mars/Viking/syrtis_major_enhanced', '/search/map/Mars/Viking/valles_marineris_enhanced']

In [15]:
hemisphere_image_urls = []

for x in url_list:
    url1 = url_base + x
    
    
    browser.visit(url1)
    html = browser.html
    soup = bs(html, 'html.parser')
    time.sleep(5)
    
    result1 = soup.find('img', class_="wide-image")
    image = url_base + result1["src"]

    result2 = soup.find('h2', class_='title')
    title = result2.text
    title = title.rsplit(' ', 1)[0]
    
    mars_hemi = {"title": title, "img_url": image}
    hemisphere_image_urls.append(mars_hemi)

In [16]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [28]:

browser.quit()